---
---
@import "tailwindcss";
@plugin "flyonui";
@import "flyonui/variants.css";
@plugin "@iconify/tailwind4";
@plugin "@tailwindcss/typography";

.hero {
  @apply p-10 grid md:grid-cols-2 gap-5 items-center;
}

@media (width >= 48rem) {
.navbar-center {
        display: flex;
        width: 80%;
        justify-content: space-evenly;
    }
}
